table{
    margin: auto;
}
input{
    width: 300px;
    font-size: 25px;
    border-radius: 5px;
}
button{
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    background-color: aqua;
    width: 57px;
}
button:hover{
    cursor: pointer;
    background-color: white;
}
.calculator{
    background: blue;
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
}
.container{
    text-align: center;

}

